.react-component-picker {
  position: relative; }
  .react-component-picker input {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none; }
  .react-component-picker .react-component-picker-data {
    background-color: white;
    position: absolute;
    width: 100%; }

.history-text-input-picker {
  padding: 5px; }
  .history-text-input-picker a {
    display: inline-block;
    padding: 2px 8px;
    box-sizing: border-box;
    border: solid 1px silver;
    border-radius: 3px;
    margin: 2px;
    text-decoration: none; }
