.picker
  $bgcolor: white
  position: relative
  display: inline-block
  .picker-wrapper
    position: absolute
    top: 0
    left: 0
    right: 0
    display: flex
    flex-direction: column
    .picker-input
      input
        outline: none
        box-sizing: border-box
    .picker-data
      background-color: $bgcolor